/* custom styles */

/* ----------------------------
basic elements
---------------------------- */
* {
  box-sizing: border-box;
}
h1 {
  background-color: #2E3945;
  padding: 1em 0.5em 1em 0.5em;
  margin: 0;
  color: white;
  font-size: 1em;
  font-family: 'Aleo', serif;
}
* {
  font-family: 'Aleo', serif;
}
footer > p {
  font-style: italic;
  font-size: 0.75em;
}
/* ---  DRY Classes --- */
.center {
  text-align: center;
}
.container {
  padding: 0 1em;
  max-width: 300px;
  margin: 0 auto;
}

/* ----------------------------
form elements
---------------------------- */
fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1.5em;
}
div fieldset:first-child {
  padding: 0.5em;
  background: rgba(46,	57,	68, 0.2);
  border-radius: 5px;
}
legend {
  border-top: 1px solid black;
  width: 100%;
  padding-top: 2em;
  margin-bottom: .75em;
  font-weight: bold;
}
button {
  width: 100%;
  border-radius: 5px;
  background: #4EA8B5;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border-width: 0;
  color: white;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
select, input[type="text"], input[type="tel"], input[type="email"], textarea  {
  display: block;
  border-radius: 3px;
  border: none;
  background: #F0F0F0;
  box-shadow: none;
  margin-top: 0.2em;
  width: 100%;
  height: 2em;
}
option {
  font-family: 'Aleo', serif;
}
textarea {
  height: 4em;
}
input:empty {
  border-bottom: solid 2px #2E3945;
}
input:focus  {
  border: solid 2px #2E3945;
  outline: none;
  margin-top: 0.2em;
  box-shadow: 10px  10px 40px grey;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
textarea:focus {
  border: solid 2px #2E3945;
  margin: -1px;
  height: calc(4em - 5px);
  outline: none;
  margin-top: 0.2em;
  box-shadow: 10px  10px 40px grey;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
select:focus {
  border: solid 2px #2E3945;
  outline: none;
}
input[type="checkbox"], input[type="radio"] {
  margin-top: 0.2em;
  margin-bottom: 0.85em;
}
input[value="javascript_News"] {
  margin-bottom: 1.5em;
}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-weight: bold;
}
#format_html, #html {
  margin-top: .75em;
}
::placeholder {
  text-align: right;
  padding: .25em .25em 0 0;
  font-style: italic;
  font-size: 0.75em;
}
/* ---  validation --- */
input:required:valid {
  border-bottom: 2px solid green;
}
:focus:invalid {
  border-bottom: 2px solid red;
}

/* ----------------------------
Media Queries
---------------------------- */
@Media (min-width: 768px) {

  select, input[type="text"], input[type="tel"], input[type="email"], textarea  {
    display: inline-block;
    border-radius: 3px;
    border: none;
    background: #F0F0F0;
    box-shadow: none;
    margin-bottom: 1em;
    width: 72%;
  }
  textarea  {
    width: 100%;
  }
  form > fieldset:first-child label {
    display: inline-block;
    width: 25%;
  }
  input:focus  {
    border: solid 2px #2E3945;
    display: inline-block;
    outline: none;
    margin-top: 0.2em;
    box-shadow: 10px  10px 40px grey;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }
  textarea:focus {
    border: solid 2px #2E3945;
    margin: -1px;
    height: calc(4em - 5px);
    outline: none;
    margin-top: 0.2em;
    margin-bottom: 1em;
    box-shadow: 10px  10px 40px grey;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }
  select:focus {
    border: solid 2px #2E3945;
    outline: none;
  }
  .container {
    padding: 0 1em;
    max-width: 500px;
    margin: 0 auto;
  }
}
